@charset "utf-8";

/**
 * layout.css
 *
 * Version: 2.0 
 * Author: Kira Miller
 * Notes:
 *     BEM for naming conventions: http://getbem.com/naming/
 *
 * Index
 *  - Variables and Defaults
 *  - Styling Containers
 *  - Fonts
 *  - Media queries for small screens
 */

/* Variables and Defaults */

* {
    --main-background-color: #111111;
    --main-white-color: #FFFFFF;
    --main-pink-color: #FF0077;
    --main-light-pink-color: #FFAAEE;
    --main-blue-color: #0088CC;
    --main-green-color: #72CC4b; /*#72864b;*/
    --main-purple-color: #8800CC; 
    --main-font-family: Courier;
    --logo-font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

body {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, var(--main-pink-color) 40%, var(--main-purple-color)) repeat fixed 0% 0%;
    color: var(--main-pink-color);
    font-family: var(--main-font-family);
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

/* Styling Containers */

header {
    align-content: center;
    background: var(--main-background-color);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    padding: 5px auto;
    position: -webkit-sticky;
    position: sticky;
    margin: 0;
    top: 0;
}

header .designation {
    font-family: var(--logo-font-family);
    font-size: 3rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
}

header .other-sites-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

header .other-sites-list img {
    width: 2rem;
    height: 2rem;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
}

.klm-about__image-container {
    display: none;
}

.about .greeting {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.about .description {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: 1.3rem;
    font-weight: normal;
}

.klm-portfolio {
    background: var(--main-background-color);
    margin: 0;
    padding: 0;
}

.klm-portfolio__header {
    color: var(--main-pink-color);
    font-family: var(--main-font-family);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 17px 0 15px 0;
}

.klm-portfolio-item {
}

.klm-portfolio-item__summary {
    cursor: pointer;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, var(--main-pink-color) 40%, var(--main-white-color)) repeat scroll 0% 0%;
    border: 2px solid var(--main-background-color);
    border-radius: 15px;
    color: var(--main-background-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 10px 15px 5px 15px;
}
.klm-portfolio-item__summary:hover {
    background: var(--main-light-pink-color);
}

.klm-portfolio-item__summary-image {
    max-width: 80%;
    padding: 0;
    margin: 10%;
}

.klm-portfolio-item__title {
    color: var(--main-background-color);
    font-size: 1.2rem;
    padding: 0;
    margin: -10px 0 0 0;
}



/* TODO: add more styles here */


.action-link {
    background: var(--main-pink-color);
    border: 2px solid var(--main-background-color);
    border-radius: 15px;
    color: var(--main-white-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
    padding: 10px 15px 5px 15px;
}
.action-link:hover {
    text-decoration: underline;
}

/* Media queries for medium screens */

@media screen and (min-width: 700px) and (max-width: 1440px) {
}



/* Media queries for large screens */

@media screen and (min-width: 1440px) {

header {
    flex-direction: row;
    justify-content: flex-start;
}

header .designation {
    align-self: center;
    flex-grow: 3;
    font-size: 2.5rem;
    padding: 0 0 0 15px;
    text-align: left;
}

header .other-sites-list {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
}

.about {    
    flex-direction: row;
    justify-content: space-between;
}

.klm-about__image-container {
    display: block;
}

.klm-about__image-container img {
    width: 300px;
}

.klm-about__text-container {
    align-self: center;
}

.about .greeting {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;
}

.about .description {
    color: var(--main-background-color);
    font-family: var(--main-font-family);
    font-size: 1.3rem;
    font-weight: normal;
}


}














/* fix the ones below or delete them */
.portfolio {
    background: var(--main-background-color);
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.portfolio .header {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    width: 100%;
    margin: 30px auto;
}

.portfolioItem {
}

.portfolioItemSummary {
}

.portfolioItemSummaryImage {
    max-width: 30%;
}

 





.slice {
    margin: 0;
    padding: 0;
    text-align: center;
}

.slice--overview {
    background: #111111;
}

.slice--work {
    background: #111111;
}

.slice__inner {
    padding: 3rem 0;
}

.work-item {
    clear: both;
    margin: 4rem auto 0 auto;
    max-width: 700px;
    overflow: auto;
    padding: 0 0 15px 0;
    text-align: left;
}

.work-item__link-container {
    float: left;
    margin: 0 5% 0 0;
    max-width: 30%;
}

.work-item__link-container img {
    max-width: 100%;    
}

.work-item__description-container {
    float: left;
    max-width: 60%;
    text-align: right;
}

.work-item__panel {
	background: #fff;
}

.heading1 {
    margin: 0;
    padding: 0;
}

.heading1--spacing {
    margin: 3rem 0 2rem 0;
}

.heading1--kira-spacing {
    margin: 3rem 0 2rem 0;
}

.heading2 {
    margin: 0;
    padding: 0;
}

.heading2--spacing {
    padding: 1rem 0;
}

.heading2--introduction-spacing {
    padding: 1rem 0;
}

.work-item__type {
    margin: 0 0 1rem 0;
    padding: 0;    
}

.work-item__title {
    margin: 0 0 1rem 0;
    padding: 0;    
}


.about--introduction-spacing {
    margin: 0 auto 0 auto;
    max-width: 400px;
    text-align: center;
}



/* Fonts */

.heading1--font {
    font-size: 4rem;
    font-weight: bold;
}

/* Special font for my name, when used as a headline: */
.heading1--kira-font {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 4rem;
    font-weight: normal;
}

.heading2--font {
    font-size: 2rem;
    font-weight: normal;
}

.heading2--introduction-font {
    font-size: 1.5rem;
    font-weight: normal;
}

.about--font {
    color: #888888;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.3rem;
}

.work-item__type-font {
    font-size: 1rem;
    font-weight: bold;
}

.work-item__title-font {
    color: #FF0077;
    font-size: 1.5rem;
    font-weight: bold;
}
.work-item__title-font:after {
    content: ' \2192';	
}
.work-item__title-font:hover {
    color: #FFFFFF;
}

.accordion-item {
	cursor: pointer;
}

/* Media queries for small screens */


    .heading1--kira-spacing {
        margin: 1.5rem 0 2rem 0;
    }

    .slice__inner {
        padding: 2rem 0;
    }
    
    .about--introduction-spacing {
        margin: 0 5px;
    }

    .heading1--kira-font {
        font-size: 2.5rem;
    }

    .work-item {
        clear: both;
        margin: 4rem auto 0 auto;
        max-width: 700px;
        overflow: auto;
        padding: 0;
        text-align: left;
    }

    .work-item__link-container {
        float: left;
        margin: 0 5% 0 0;
        max-width: 30%;
    }

    .work-item__link-container img {
        max-width: 100%;    
    }

    .work-item__description-container {
        float: left;
        max-width: 60%;
        text-align: right;
    }


/* Media queries for medium screens */

@media screen and (min-width: 700px) and (max-width: 1440px) {
    
    
.designation {
    font-size: 4rem;
    font-family: var(--logo-font-family);
    font-weight: normal;
    text-align: center;
}
    .icons {
    padding: 1rem;
}

.icons a {
    margin: 0.5rem;
    padding: 0;
    line-height: 3rem;
}

.icons a img {
    width: 3rem;
    height: 3rem;
}
    
    .heading1--kira-spacing {
        margin: 1.5rem 0 2rem 0;
    }

    .slice__inner {
        padding: 2rem 0;
    }
    
    .about--introduction-spacing {
        margin: 0 5px;
    }

    .heading1--kira-font {
        font-size: 2.5rem;
    }

    .work-item {
        clear: both;
        margin: 4rem auto 0 auto;
        max-width: 700px;
        overflow: auto;
        padding: 0;
        text-align: left;
    }

    .work-item__link-container {
        float: left;
        margin: 0 5% 0 0;
        max-width: 30%;
    }

    .work-item__link-container img {
        max-width: 100%;    
    }

    .work-item__description-container {
        float: left;
        max-width: 60%;
        text-align: right;
    }
}